.toggle {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 3.2rem;
  height: 100%;

  min-height: 3rem;

  border-left:
    1px solid
    var(--color-border);

  transition:
    background-color 250ms ease;
}

.toggle:hover {
  background:
    var(--color-surface-secondary);
}

.track {
  position: relative;

  width: 1.9rem;
  height: 1rem;

  border:
    1px solid
    var(--color-text-muted);

  border-radius: 999px;
}

.knob {
  position: absolute;

  top: 50%;
  left: 0.12rem;

  width: 0.66rem;
  height: 0.66rem;

  border-radius: 50%;

  background:
    var(--color-text);

  transform:
    translateY(-50%);

  transition:
    transform
      350ms
      var(--ease-primary),
    background-color
      300ms ease;
}

.toggle[data-theme="dark"]
  .knob {
  transform:
    translate(
      0.86rem,
      -50%
    );
}
